.input-text {
    outline: none;
    border: none;
    padding: 16px 0;
    border-bottom: 1px solid #BDBDBD;
    min-width: 100%;
    background: var(--secondary-bg-color);

    &::placeholder {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: .9;
        color: #BDBDBD;
    }
}