.tabs {
    padding-top: 100px;
    padding-bottom: 25px;

    @include breakpoint(xl) {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    @include breakpoint(sm) {
        padding-top: 25px;
    }

    &__tab {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        padding: 10px 80px;
        border: none;
        font: inherit;
        background-color: transparent;
        color: #333333;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        text-transform: uppercase;
        text-decoration: none;
        transform: translate(0%, 2%);

        @include breakpoint(sm) {
            padding: 10px 40px;
        }
    }

    &__item:focus,
    &__item_active {
        border-top: 1px solid #C6CBCD;
        border-right: 1px solid #C6CBCD;
        border-left: 1px solid #C6CBCD;
        border-bottom: 2px solid #FFFFFF;
    }

    &__card {
        border: 1px solid #C6CBCD;
        display: none;

        &_show {
            display: block;
        }
    }

    &__card-inner {
        display: flex;
    }

    &__card-info {
        width: 60%;
        padding-left: 100px;
        padding-right: 15px;
        padding-bottom: 54px;

        @include breakpoint(sm) {
            width: 100%;
            padding-left: 15px;
            padding-bottom: 30px;
            padding-right: 15px;
            text-align: center;
        }
    }

    &__card-title {
        color: var(--third-text-color);
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 30px;
        line-height: 1.9;
        padding: 47px 0;
        margin-bottom: 27px;

        @include breakpoint(xl) {
            font-size: 24px;
            padding: 32px 0;
            margin-bottom: 38px;
        }

        @include breakpoint(sm) {
            font-size: 18px;
            padding: 47px 0;
            margin-bottom: 29px;
        }
    }

    &__card-text {
        color: var(--third-text-color);
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 27px;

        @include breakpoint(xl) {
            font-size: 14px;
            margin-bottom: 38px;
        }

        @include breakpoint(sm) {
            font-size: 13px;
            margin-bottom: 29px;
        }
    }

    &__card-text p {
        padding-bottom: 20px;
    }

    &__card-button {
        position: relative;
        padding: 20px 90px;

        @include breakpoint(xl) {
            padding: 20px 70px;
        }

        @include breakpoint(sm) {
            font-size: 18px;
            padding: 15px 75px;
        }
    }

    &__card-image {
        width: 40%;
        flex-shrink: 0;
        background-size: cover;

        @include breakpoint(sm) {
            display: none;
        }
    }

    &__card-pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}